/* reser */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Reset end */

/* variable  */

:root {

    /* fonts*/
    --main-fonts: 'Open Sans', sans-serif;

    /* colors */
    --color-black: #070707;
    --color-grey: #828282;
    --color-lightgrey: #F6F6F6;
    --color-white: #Fff;
}

/* variable end */

/* Global style */
.wrapper {
    font-family: var(--main-fonts);
    font-size: 18px;
    font-weight: 400;
}

.container {
    max-width: 990px;
    margin: 0 auto;
    padding: 0 10px;
}


section:nth-child(2n) {
    background-color: var(--color-lightgrey);
}

/* Global style end */


/* header */

.header__nav {
    display: flex;
    justify-content: center;
}

.header__iteam {
    margin: 28px 20px;

}

.header__link {
    color: var(--color-grey);
    letter-spacing: 0.32px;
}

.header__link:hover {
    color: var(--color-black);
    transition: 0.3s all ease;
    font-weight: 700;
}

.header__btborder {
    border: 1px solid var(--color-grey);
}

/* header end */

/* firstsection */

.firstsection__title {
    font-size: 48px;
    margin: 12px 0 50px;
}

.firstsection__img {
    max-width: 100%;
    display: block;
}

/* firstsection end*/

/* about-me section */

.about-me {
    padding: 100px 0;
}

.about-me .container {
    max-width: 500px;
}

.about-me__title {
    text-align: center;
    font-size: 34px;
    margin-bottom: 50px;
}

.about-me__text {
    margin-top: 30px;
    text-align: center;
}

/* about-me section end */

/* skills section */

.skills {
    padding: 100px 0;
}

.skills__title {
    text-align: center;
    font-size: 34px;
    margin-bottom: 20px;
}

.skills_subtitle {
    text-align: center;
    margin-bottom: 50px;
}

.skills__iteam {
    display: flex;
    justify-content: space-between;
}

.skills__img {
    display: block;
}

/* skills section end*/

/* portfolio section */

.portfolio {
    padding: 100px 0;
}

.portfolio__title {
    text-align: center;
    font-size: 34px;
    margin-bottom: 50px;
}

.portfolio__content {
    margin-bottom: 70px;
}

.portfolio__content:last-child {
    margin-bottom: 0;
}

.portfolio__img {
    max-width: 100%;
}

.portfolio__link {
    display: block;
    margin: 40px 0 0;
    text-align: center;
    text-decoration: underline;
    color: var(--color-black);
}

/* portfolio section end */

/* fopter */

.footer {
    padding: 100px 0;
}

.footer .container {
    max-width: 300px;
}

.footer__title {
    text-align: center;
}

.footer__subtitle {
    margin: 20px auto 60px;
    text-align: center;
}

.footer__btn {
    display: block;
    background: var(--color-black);
    border-radius: 22px;
    padding: 10px 16px;
    color: var(--color-white);
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
}

.footer__social {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.footer__item:hover {
    opacity: 0.5;
    transition: .3s all ease;
}

.footer__like {
    margin: 60px auto;
    font-size: 14px;
    color: var(--color-grey);
    text-align: center;
}

/* fopter end */