/*Reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
}

/*Reset end*/

/*Variable*/


:root {
    /*fonts*/
    --main-fonts: 'PT Sans';
    --breadcrumb-fonts: 'Staatliches';
    --title-fonts: 'Francois One';
    --span-font: 'Farro';

    /*colors*/
    --color-black: #000000;
    --color-gray: #BDBDBD;
    --color-white: #fff;


    --text-breadcrumg-fonts: 400 22px/28px var(--breadcrumb-fonts);
    --text-main-font: 400 28px/48px var(--main-fonts);
    --text-hero-nav-fonts: 400 36px/48px var(--title-fonts);
    --text-span-title-fonts: 300 30px/30px var(--span-font);
    --title-text-fonts: 400 36px/48px var(--title-fonts);
}

/*Variable end*/
/*General style*/
body {
    font-family: var(--main-fonts);
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

/*General style end*/

/*language*/

.language select {
    border: none;
    font-size: 22px;
    line-height: 18px;
}

/*language end*/

/*breadcrumb*/

.breadcrumb-container {
    width: 70%;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

.breadcrumb {
    display: flex;
}

.breadcrumb__iteam {
    font: var(--text-breadcrumg-fonts);
    letter-spacing: 0.03em;
}

/*breadcrumb end*/



/*header*/
.header__row {
    padding: 13px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 238px;
}

/*header end*/

/*section hero*/
.hero__bg {
    position: absolute;
    width: 760px;
    top: 0;
    right: -7%;
    z-index: -1;
}


.hero {
    padding: 70px 0 90px;
}

.hero__content {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    position: relative;
}

.hero__nav {
    position: sticky;
    top: 20px;
    font: var(--text-hero-nav-fonts);
    width: 385px;
}

.hero__nav-item {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--color-gray);
    margin-bottom: 70px;
}

.hero__nav-link {
    color: var(--color-black);
    text-transform: uppercase;
}

.hero__text-container {
    margin-bottom: 70px;
}

.hero__title-border {
    width: 100px;
    height: 8px;
    margin-bottom: 20px;
    background-color: var(--color-black);
}

.hero__title {
    font: var(--title-text-fonts);
    position: relative;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.title-descr {
    font: var(--text-span-title-fonts);
    font-size: small;
    position: absolute;
    top: 0;
}

.hero__text {
    font: var(--text-main-font);
    margin-bottom: 40px;
}

.strong {
    font-weight: bold;
}

.bg-gray {
    background-color: var(--color-gray);
}

.br {
    display: block;
    width: fit-content;
}