/* font-family: 'Roboto', sans-serif; */

/*Reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
}

/*Reset end*/

/*Variable*/

:root {
    /*fonts*/
    --main-fonts: 'Roboto';
    --breadcrumb-fonts: 'Staatliches';

    /*colors*/
    --color-black: #000000;
    --color-gray: #E6E6E6;


    --text-breadcrumg-fonts: 400 22px/28px var(--breadcrumb-fonts);
    --title-fonts: 600 36px/48px var(--main-fonts);
}

/*Variable end*/

/*General style*/
body {
    font-family: var(--main-fonts);
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

/*General style end*/


/*language*/

.language select {
    border: none;
    font-size: 22px;
    line-height: 18px;
}

/*language end*/

/*breadcrumb*/

.breadcrumb-container {
    width: 70%;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

.breadcrumb {
    display: flex;
}

.breadcrumb__iteam {
    font: var(--text-breadcrumg-fonts);
    letter-spacing: 0.03em;
}

/*breadcrumb end*/



/*header*/
.header__row {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 238px;
}

/*header end*/

/*hero section*/
.hero {
    padding: 70px 0;
}

.hero__title {
    font: var(--title-fonts);
}

.hero__content {
    padding: 20px 0;
    border-top: 2px solid var(--color-gray);
    border-bottom: 2px solid var(--color-gray);
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.hero__card {
    position: relative;
}

.hero__card-img-before {
    max-width: 270px;
}

.hero__card-img-after {
    position: absolute;
    transform: rotateX(260deg);
    top: 0;
    left: 0;
    opacity: 0;
}

.hero__card:hover .hero__card-img-after {
    opacity: 1;
    transform: rotateX(360deg);
    transition: all 1s;
}

.hero__card:hover .hero__card-img-before {
    opacity: 0;
}



/*hero secrion end*/