/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* reset end */

/* variable */

:root {
    /*colors*/
    --colot-lightgrey: #F6F6F6;
    --color-darkgrey: #3C3C3C;
    --color-grey: #DDDBDB;
    --color-brown: #282528;
    --color-lightbrown: #646464;
    --color-lightblue: #18B5DC;
    --color-white: #fff;
    /*font*/
    --font-Lato: 'Lato';
}

/* variable end */

/* general style */
.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 5px;
}

.wrapper {
    font-family: var(--font-Lato);
}

/* general style end */


/* header */
.header {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.header__logo {}

.havbar {
    align-self: center;
}

.header__nav {
    display: flex;
    gap: 30px;
}

.header__link:hover {
    color: var(--color-lightblue);
}


.header__item:last-child {
    margin-right: 0;
}

.header__link {
    text-transform: uppercase;
    font-size: 20px;
}

.callback {
    padding: 10px 20px;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--color-darkgrey);
    border: 1px solid var(--color-darkgrey);
    align-self: center;
}

.callback:hover {
    background-color: var(--color-lightblue);
    color: var(--color-white);
    border: 1px solid var(--color-lightblue);
}


/*header end */

/* section about */
.about {
    padding: 150px 0;
    background-color: var(--colot-lightgrey);
}

.about__title {
    font-size: 34px;
    font-weight: 700;
    line-height: 41px;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-darkgrey);
}

.border {
    border: 2px solid var(--color-grey);
    max-width: 45px;
    margin: 20px auto 40px;
}

.about__subtitle {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    opacity: 75%;
    color: var(--color-darkgrey);
}

.about__team-item {
    display: flex;
    gap: 30px;
    margin-top: 60px;
}

.about__team__photo {
    position: relative;
}

.about__team-item__contact {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-lightblue);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.about__team-item__contact a {
    margin-right: 4px;
    display: block;
    background: var(--color-lightblue);
}


.about__team__photo:hover .about__team-item__contact {
    opacity: 1;
}


.about__team-item__contact__link {
    margin-right: 5px;
}

.about__team-item__title {
    padding-top: 20px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    color: var(--color-brown);
}

.about__team-item__subtitle {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: var(--color-lightbrown);
}

/* section about end */


/* footer */
.footert {
    padding: 40px 0;
}

.footert .container {
    max-width: 400px;
}

.footer__logo {
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
}

.footer__socialnavbar {
    display: flex;
    justify-content: center;
    gap: 10px;
}


.footer__socialnavbar__item {
    margin-top: 25px;
}


.footer_socialnavbar__link {
    display: block;
}

/* footer end */